streamlit
langchain
langchain-groq
langchain-huggingface
langchain-chroma
langchain-tavily
langgraph
chromadb
sentence-transformers
pymupdf
pytesseract
opencv-python-headless
python-dotenv
tavily-python
torchvision
pysqlite3-binary
protobuf<4.0.0
langchain-text-splitters
fpdf
langchain-community
